@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-white/5;
  }
  
  body {
    @apply antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
